<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-size:50px;align-content: center"><strong>Finopoly</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">   
        <li class="dropdown">
        <% if signed_in? %>
          <li><a href="#"><%= avatar_for(current_user, size: 50) %></a></li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setting<span class="caret"></span></a>
        <%else%>
          <%= link_to "Sign In", sign_in_path %>
        <%end%>
          <ul class="dropdown-menu">
            <% if signed_in? %>
              <a  class='avatar-image' href="/users/<%= current_user.id%>">Edit Profile</a>
                <%= button_to "Sign Out", sign_out_path, method: :delete %>
              <% else -%>
                <%= link_to "Sign_in", sign_in_path %>
              <% end -%>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<%= link_to "Buy more Coin", pricing_plans_path %>


<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>





<%= button_tag "Play Now", :id => "play"%> 



<!-- User enters homepage
User clicks Play Now
- display waiting room modal popup
- makes ajax request to server requesting for game id
- use game id as channel name for pubnub subscription

Once 3 players have joined the game, server publishes a message to pubnub channel, informing players they can start the game
- on server side,
- when receive play now request
- find_or_initialize game
- checks how many players already subscribed
- updates current_user into game if not full
- if full after subscribing the user, publish message to pubnub telling players they can start game -->
