
<div class='col-md-9'>
	<div class='row'>
		<div>
			<table class="player_board">
					<tr>
						<th>
							<a style="float:left" href="#"><%= avatar_for(current_user, size: 40) %></a>
							<div class="left"> Player2 [IGC base: bla bla] [Stock: bla bla] </div>
						</th>
						<th>
							<a style="float:left" href="#"><%= avatar_for(current_user, size: 40) %></a>
							<div class="right"> Player3 [IGC base: 123] [Stock: 321] </div>
						</th>
					</tr>
			</table>
		</div>
		<br>
	</div>
</div>
		
<div class='col-md-3'>
		<h1 style="float:left"><%= current_user.username %></h1>
	<div class="user_pic">
		<a href="#"><%= avatar_for(current_user, size: 120) %></a>
	</div>
</div>

<div class='col-md-9'>
	<div class='row'>
		<table border="6" cellspacing="0" cellpadding="6" style="text-align:center;font:normal 8pt/9pt arial;width:900px;height:600px;border-collapse:separate; background-color:#F0FFF0;">
			<td id="11" style="height:100px;">Free Parking
			<div style="width:70px;height:0px;"></div>
			</td>
			<td id="12" class="top_left">Kentucky Avenue<br>
			$220</td>
			<td id="13" class="top_left">Illinois Avenue<br>
			$240</td>
			<td id="14" class="top_right">Ventnor Avenue<br>
			$260</td>
			<td id="15" class="top_right">Marvin Gardens<br>
			$280</td>
			<td id="16" style="width:160px">Go To Jail<div style="height:0px;"></div>
			</td>
			<tr>
			<td id="10" class="left_top">New York Avenue<br>
			$200</td>
			<td rowspan="4" colspan="4" align="center">
			<table cellpadding="0" cellspacing="2" style="border:solid 2px #ff0000;">
			<tbody><tr><td>
			<div style="background-color:#ff0000;color:#ffffff;font:normal 22px verdana,arial;letter-spacing:+5px;padding:1px 8px 1px 8px;">FINOPOLY</div>
			</td>
			</tr>
			</tbody></table>
			</td>
			<td id="17" class="right_top">Pacific Avenue<br>
			$300</td>
			</tr>
			<tr>
			<td id="9" class="left_top">Tennessee Avenue<br>
			$180</td>
			<td id="18" class="right_top">North Carolina Avenue<br>
			$300</td>
			</tr>
			<tr>
			<td id="8" class="left_bottom">St. James Place<br>
			$180</td>
			<td id="19" class="right_bottom">Pennsylvania Avenue<br>
			$320</td>
			</tr>
			<tr>
			<td id="7" class="left_bottom">Virginia Avenue<br>
			$160</td>
			<td id="20" class="right_bottom">Park Place<br>
			$350</td>
			</tr>
			<tr>
			<td id="6" style="height:100px;">In Jail/Just Visiting</td>
			<td id="5" class="bottom_left">Connecticut Avenue<br>
			$120</td>
			<td id="4" class="bottom_left">Vermont Avenue<br>
			$100</td>
			<td id="3" class="bottom_right">Chance</td>
			<td id="2" class="bottom_right">Oriental Avenue<br>
			$100</td>
			<td id="1"><b>Go</b><br>
			(collect $200)<br>
			<img alt="Monopoly Go Arrow.png" src="/Monopoly_Go_Arrow.png" width="44" height="8"></td>
			</tr>
	  </table>
	</div>
</div>
<div class='col-md-3'>
		<div class="detail">
			<table style="width:100%">
				<tr>
					<th class="left-table" align="center">Token: </th>
					<td class="right-table" align="center"><%= current_user.token %></td>
				</tr>
				<tr>
					<th class="left-table" align="center">IGC Base: </th>
					<td class="right-table" align="center"><%= current_user.IGC_base %></td>
				</tr>
				<tr>
					<th class="stock" align="center">Stock:</th> 
					<td class="stock" align="center">~Replace this with stock~</td>
				</tr>
			</table>
		</div>
</div>