
<div class='col-md-9'>
	<div class='row'>
		<div>
			<table class="player_board">
					<tr>
						<th>
							<a style="float:left" href="#"><%= avatar_for(current_user, size: 40) %></a>
							<div class="left"> Player2 [IGC base: bla bla] [Stock: bla bla] </div>
						</th>
						<th>
							<a style="float:left" href="#"><%= avatar_for(current_user, size: 40) %></a>
							<div class="right"> Player3 [IGC base: 123] [Stock: 321] </div>
						</th>
					</tr>
			</table>
		</div>
		<br>
	</div>
</div>
		
<div class='col-md-3'>
		<h1 style="float:left"><%= current_user.username %></h1>
	<div class="user_pic">
		<a href="#"><%= avatar_for(current_user, size: 120) %></a>
	</div>
</div>

<div class='col-md-9'>
	<div class='row'>
		<table border="6" cellspacing="0" cellpadding="6" style="text-align:center;font:normal 8pt/9pt arial;width:900px;height:600px;border-collapse:separate; background-color:#F0FFF0;">
			<td id="11" style="height:100px;">Free Parking
			<div style="width:70px;height:0px;"></div>
			</td>
			<td id="12" class="top_left">Kentucky Avenue<br>
			$220</td>
			<td id="13" class="top_left">Illinois Avenue<br>
			$240</td>
			<td id="14" class="top_right">Ventnor Avenue<br>
			$260</td>
			<td id="15" class="top_right">Marvin Gardens<br>
			$280</td>
			<td id="16" style="width:160px">Go To Jail<div style="height:0px;"></div>
			</td>
			<tr>
			<td id="10" class="left_top">New York Avenue<br>
			$200</td>
			<td rowspan="4" colspan="4" align="center">
			<table cellpadding="0" cellspacing="2" style="border:solid 2px #ff0000;">
			<tbody><tr><td>
			<div style="background-color:#ff0000;color:#ffffff;font:normal 22px verdana,arial;letter-spacing:+5px;padding:1px 8px 1px 8px;">FINOPOLY</div>
			</td>
			</tr>
			</tbody></table>
			</td>
			<td id="17" class="right_top">Pacific Avenue<br>
			$300</td>
			</tr>
			<tr>
			<td id="9" class="left_top">Tennessee Avenue<br>
			$180</td>
			<td id="18" class="right_top">North Carolina Avenue<br>
			$300</td>
			</tr>
			<tr>
			<td id="8" class="left_bottom">St. James Place<br>
			$180</td>
			<td id="19" class="right_bottom">Pennsylvania Avenue<br>
			$320</td>
			</tr>
			<tr>
			<td id="7" class="left_bottom">Virginia Avenue<br>
			$160</td>
			<td id="20" class="right_bottom">Park Place<br>
			$350</td>
			</tr>
			<tr>
			<td id="6" style="height:100px;">In Jail/Just Visiting</td>
			<td id="5" class="bottom_left">Connecticut Avenue<br>
			$120</td>
			<td id="4" class="bottom_left">Vermont Avenue<br>
			$100</td>
			<td id="3" class="bottom_right">Chance</td>
			<td id="2" class="bottom_right">Oriental Avenue<br>
			$100</td>
			<td id="1"><b>Go</b><br>
			(collect $200)<br>
			<img alt="Monopoly Go Arrow.png" src="/Monopoly_Go_Arrow.png" width="44" height="8"></td>
			</tr>
	  </table>
	</div>
</div>
<div class='col-md-3'>
		<div class="detail">
			<table style="width:100%">
				<tr>
					<th class="left-table" align="center">Token: </th>
					<td class="right-table" align="center"><%= current_user.token %></td>
				</tr>
				<tr>
					<th class="left-table" align="center">IGC Base: </th>
					<td class="right-table" align="center"><%= current_user.IGC_base %></td>
				</tr>
				<tr>
					<th class="stock" align="center">Stock:</th> 
					<td class="stock" align="center">~Replace this with stock~</td>
				</tr>
			</table>
		</div>
</div>




<h1>Test Game</h1>


<div id = "whose_turn"></div>
<button id = "dice" >Dice</button>




<div>
<div id="chatHistory" class="table-bordered chatHistory"></div>
<div id="chatHistory" class="table-bordered chatHistory"></div>
<input type="text" id="message" placeholder="Enter your message here" class="message"/>
<%= button_tag "Send", :id => "sendButton"%> 
</div>


<button id = "test">Test</button>


<br>
1  <div id= "test_1">
  <%@game.players.each do |p|%>
<div id='player_<%="#{p.id}"%>'><%=p.user.email%></div>
<%end%>
</div>
2  <div id= "test_2"></div>
3  <div id= "test_3"></div>
4  <div id= "test_4"></div>
5  <div id= "test_5"></div>
6  <div id= "test_6"></div>
7  <div id= "test_7"></div>
8  <div id= "test_8"></div>
9  <div id= "test_9"></div>
10 <div id= "test_10"></div>
11 <div id= "test_11"></div>
12 <div id= "test_12"></div>
13 <div id= "test_13"></div>
14 <div id= "test_14"></div>
15 <div id= "test_15"></div>
16 <div id= "test_16"></div>
17 <div id= "test_17"></div>
18 <div id= "test_18"></div>
19 <div id= "test_19"></div>
20 <div id= "test_20"></div>


<%@game.stocks.each do |s|%>
  <div id='stock_<%="#{s.id}"%>'>Stock ID:<%="#{s.id}"%>  
    Company Name: <%=s.company_name%> 
    Price: <span id= "s_price"><%=s.price%></span>   
    Quantitiy: <span id = "s_quantity"><%=s.quantity%></span>
    <% if s.company_name == "Apple" || s.company_name =="Mc Donalds" %>
    <button class='transact' disabled>Transact</button>
    <%else%>
    <button class='transact'>Transact</button>
    <%end%>
    <%= content_tag(:div, nil, :id=> ('s_id'),data:{s_id: s.id}) %>
  </div>
 

<%end%>
<br>

<%@game.players.each do |p|%>
  <div class='igc_<%="#{p.id}"%>'><%=p.user.email%> : <span id = "player_igc"><%=p.igc_game%></span></div>
<%end%>

<div class="modal fade" id="modal_news_ev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header1</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal fade" id="modal_occu_ev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header2</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="modal_m_news_ev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header3</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

      <div class="modal fade" id="modal_stock_ev" role="dialog">
          <p id="s_id" hidden ></p>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header4</h4>
        </div>
        <div class="modal-body">
          <p>Buy Stock</p>
        </div>
        <p>Quantity</p>
        <input id='quantity'></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id = "finalize_buy">Buy</button>
          <button type="button" class="btn btn-default" id = "finalize_sell">Sell</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>

        <div class="modal fade" id="modal_global_ev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header5</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

          <div class="modal fade" id="modal_exchange_ev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header6</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modal_evaluation_ev" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header7</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

