<!DOCTYPE html>
<title>Finopoly</title>
<html>
<head>
  <%= include_gon %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>


  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





<script src = "https://cdn.pubnub.com/pubnub-3.15.2.js"></script>

  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

</head>
<body>
  <div id="header">
    <% if signed_in? -%>
     <a  class='avatar-image' href="/users/<%= current_user.id%>"><%= avatar_for(current_user, size: 50) %></a>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>


  <%= yield %>
</body>
</html>
